@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("Add Customer", "New", "Customers", new { @class = "btn btn-primary" })

@if(Model.Customers.Count == 0)
{
    <p>No customers found in database.</p>
}
else
{
    <table id="customers" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Membership Type</th>
                <th>Edit Customer</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable();

            $("#customers .js-delete").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
